.hero_section {
  min-height: calc(100vh - 100px);
  background-color: #fafafa;
  padding: 117px 24px;
}

.hero_section h1 {
  max-width: 850px;
  font-size: 32px;
  line-height: 100%; /* 64px */
  letter-spacing: -1.28px;
  margin-bottom: 8px;
  color: rgba(17, 17, 17, 0.5);
}

.image_banner {
  width: 100%;
  height: 350px;
  background-color: #c988a9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.h2 {
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.96px;
}

.h3 {
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.96px;
}

.service_block .number {
  color: rgba(135, 38, 91, 0.4);
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
}
.service_block .title {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -1.28px;
}

.service_block .description {
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: -0.32px;
}

.small_p {
  font-size: 16px;
  line-height: 150%;
  font-weight: 300;
  letter-spacing: -0.32px;
}

.resource_container {
  border-radius: 8px;
  padding: 16px 24px;
  background: #f1f1f1;
  width: 100%;
}

.resource_container h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
}

.upper_div {
  height: 36px;
}
.upper_div svg {
  height: 32px;
  width: 32px;
}

.resource {
  height: 0;
  overflow: hidden;
}
.resource_container p:first-of-type {
  padding-top: 16px;
}
.resource_container p {
  font-size: 18px;
  margin-top: 4px;
}

.title_gray{
  color: rgba(17, 17, 17, 0.5);
}


@media screen and (min-width: 767px) {
  .hero_section {
    background-position: 50% 50%;
    padding: 117px 140px;
  }
  .hero_section h1 {
    max-width: 850px;
    font-size: 64px;
    margin-bottom: 8px;
  }

  .image_banner {
    width: 100%;
    height: 700px;
  }

  h4.h2 {
    font-size: 72px;
    line-height: 100%; /* 72px */
    letter-spacing: -1.44px;
  }
  .h2 {
    font-size: 40px;
  }
  .h2_large {
    font-size: 48px;
  }

  .h3 {
    font-size: 40px;
  }
  .service_block .number {
    font-size: 40px;
  }

  .service_block .title {
    margin: 20px 0;
    font-size: 32px;
  }

  .resource_container {
    width: 800px;
    max-width: 100%;
  }
  .resource_container h4 {
    font-weight: 600;
    line-height: 120%;
  }

  .upper_div {
    height: 36px;
  }
  .upper_div svg {
    height: 32px;
    width: 32px;
  }

  .resource {
    height: 0;
    overflow: hidden;
  }
}
