.hero_section {
  min-height: calc(100vh - 100px);
  background-color: #fafafa;
  padding: 117px 24px;
}

.hero_section h1 {
  max-width: 850px;
  font-size: 32px;
  line-height: 100%; /* 64px */
  letter-spacing: -1.28px;
  margin-bottom: 8px;
  color: rgba(17, 17, 17, 0.5);
}

.image_banner {
  width: 100%;
  height: 350px;
  background-color: #c988a9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.h2 {
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.96px;
}

.h3 {
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.96px;
}

.service_block .number {
  color: rgba(135, 38, 91, 0.4);
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
}
.service_block .title {
  margin: 10px 0 16px 0;
  font-size: 28px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -1.28px;
}

.mini_title {
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.96px;
  color: #87265b;
  margin-bottom: 4px;
}

.service_block .description p {
  color: rgba(16, 6, 11, 0.8);
  font-size: 16px;
  font-weight: 300;
  line-height: 150%; /* 24px */
  letter-spacing: -0.32px;
  margin-bottom: 8px;
}

@media screen and (min-width: 767px) {
  .hero_section {
    background-position: 50% 50%;
    padding: 117px 140px;
  }
  .hero_section h1 {
    max-width: 850px;
    font-size: 64px;
    margin-bottom: 8px;
  }

  .image_banner {
    width: 100%;
    height: 700px;
  }

  h4.h2 {
    font-size: 72px;
    line-height: 100%; /* 72px */
    letter-spacing: -1.44px;
  }
  .h2 {
    font-size: 40px;
  }
  .h2_large {
    font-size: 48px;
  }

  .h3 {
    font-size: 40px;
  }

  .service_block .number {
    font-size: 40px;
  }

  .service_block .title {
    margin: 16px 0 20px 0;
    font-size: 36px;
  }

  .mini_title {
    font-size: 24px;
  }
}
