.hero_section {
  min-height: calc(100vh - 100px);
  background-image: url("/images/square-background..social_logo");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 200%;
  padding: 117px 24px;
}

.hero_section h1 {
  max-width: 850px;
  font-size: 32px;
  line-height: 100%; /* 64px */
  letter-spacing: -1.28px;
  margin-bottom: 8px;
  color: rgba(17, 17, 17, 0.5);
}

.hero_section label {
  color: #87265b;
  font-size: 20px;
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.48px;
}

.hero_section input,
.hero_section textarea {
  width: 100%;
  display: block;
  border-radius: 4px;
  border: 0.5px solid #87265b;
  background: #ffffff70;
  width: 100%;
  margin-top: 4px;
}

.hero_section textarea {
  height: 200px;
}

.hero_section input {
  height: 40px;
  padding: 4px;
}

.social_logo {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid #878787;
  border-radius: 50%;
}

.social_logo img {
  width: 20px;
  height: 20px;
}

.image_banner {
  width: 100%;
  height: 350px;
  background-color: #c988a9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.h2 {
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.96px;
}

.h3 {
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.96px;
}

@media screen and (min-width: 767px) {
  .hero_section {
    padding: 117px 140px;
    background-size: auto;
    background-repeat: repeat-x;
  }
  .hero_section h1 {
    max-width: 850px;
    font-size: 64px;
    margin-bottom: 8px;
  }

  .image_banner {
    width: 100%;
    height: 700px;
  }

  .hero_section label {
    font-size: 24px;
  }

  h4.h2 {
    font-size: 72px;
    line-height: 100%; /* 72px */
    letter-spacing: -1.44px;
  }
  .h2 {
    font-size: 40px;
  }

  .h2_large {
    font-size: 48px;
  }

  .h3 {
    font-size: 36px;
  }

  .hero_section input {
    height: 60px;
    padding: 4px;
  }

  .social_logo {
    height: 64px;
    width: 64px;
  }

  .social_logo img {
    width: 30px;
    height: 30px;
  }
}
