.image_banner {
  width: 100%;
  height: 350px;
  background-color: #c988a9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.input {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  background: #fff;
  color: #87265b;
  padding: 12px 24px 12px 48px;
  font-size: 16px;
}

.search_icon {
  position: absolute;
  top: 14px;
  left: 12px;
  width: 20px;
  height: 20px;
}

.h2 {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.96px;
}

h4.h2 {
  font-size: 32px;
}
@media screen and (min-width: 767px) {
  .image_banner {
    width: 100%;
    height: 700px;
  }

  .input {
    height: 55px;
    padding: 24px 40px 24px 84px;
  }

  .search_icon {
    position: absolute;
    top: 17.5px;
    left: 40px;
  }

  h4.h2 {
    font-size: 72px;
    line-height: 100%; /* 72px */
    letter-spacing: -1.44px;
  }
  .h2 {
    font-size: 24px;
  }
}
