@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  font-family: SFProDisplay, sans-serif;
  color: #939393;
  background-color: #fff;
font-size: 16px;
line-height: 150%; /* 30px */
letter-spacing: -0.4px;
}

.p{
  line-height: 150%;
letter-spacing: -0.4px;
}

.container-padding{
  padding: 0px 24px;
}
.dark-color{
  color: #111;
}
.primary-color{
  color: #87265B !important;
}

.gray-color{
  color: rgba(17, 17, 17, 0.50);
}

.bg-light{
  background-color: #FFF9FC;
}
@media  screen and (min-width: 767px) {
  .container-padding{
    padding: 0px 64px;
  }

  
body {
font-size: 20px;
}
}
