.hero_section {
  min-height: 400px;
  background-image: url("/images/square-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 117px 24px;
  position: relative;
  overflow-x: hidden;
}

.map_container {
  position: absolute;
  top: 0;
  right: -100px;
  width: 732.2px;
  height: 478.8px;
  opacity: 0.3;
}

.hero_section h1 {
  max-width: 734px;
  font-size: 28px;
  line-height: 100%; /* 64px */
  letter-spacing: -1.28px;
  margin-bottom: 8px;
  color: rgba(17, 17, 17, 0.5);
}

.image_banner {
  width: 100%;
  height: 350px;
  background-color: #c988a9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.h2 {
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.96px;
}

@media screen and (min-width: 767px) {
  .hero_section {
    background-position: 50% 50%;
    padding: 117px;
    min-height: calc(100vh - 200px);
  }

  .hero_section h1 {
    font-size: 60px;
    margin-bottom: 8px;
  }

  .image_banner {
    width: 100%;
    height: 650px;
  }

  h4.h2 {
    font-size: 72px;
    line-height: 100%; /* 72px */
    letter-spacing: -1.44px;
  }
  .h2 {
    font-size: 40px;
  }

  .map_container {
    opacity: 1;
  }
}
