.top_nav {
  background-color: rgb(255, 255, 255);
  height: 100px;
  max-width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  z-index: 4;
}

.top_nav .nav_link {
  color: #32041d;
  font-size: 18px;
  letter-spacing: -0.36px;
}

.logo {
  width: 100px;
  height: 100px;
}

.dropdown_wrapper {
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 3;
  overflow: hidden;
}

.top_nav__dropdown {
  padding-top: 120px;
  padding-bottom: 80px;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  font-size: 64px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .top_nav {
    height: 90px;
  }

  .top_nav__dropdown {
    padding-top: 100px;
    justify-content: start;
    gap: 32px;
    font-size: 32px;
  }
  .logo {
    width: 90px;
    height: 90px;
  }
}

@media screen and (max-width: 479px) {
  .top_nav {
    height: 60px;
  }

  .logo {
    width: 100px;
    height: 100px;
  }

  .top_nav__dropdown {
    font-size: 24px;
  }
}
