.image_banner {
  width: 100%;
  height: 350px;
  background-color: #c988a9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.h2 {
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.96px;
}

.blog_article img {
  width: 100%;
}

.blog_article .text,
.p {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.32px;
}

.blog_article .heading {
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.96px;
  color: #32041d;
  margin: 20px 0 12px 0;
}

.p {
  color: rgba(16, 6, 11, 0.7);
  margin-bottom: 16px;
}

.blog_article .title {
  color: #32041d;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
  line-height: 120%;
}

.blog_article .name {
  color: #111;
  font-size: 16px;
  line-height: 120%;
}

.blog_article svg {
  margin: 0 12px 6px 12px;
}
.blog_article .time {
  color: rgba(17, 17, 17, 0.5);
  font-size: 16px;
  line-height: 120%;
}

@media screen and (min-width: 767px) {
  .image_banner {
    width: 100%;
    height: 700px;
  }

  .h2 {
    font-size: 40px;
  }

  .p {
    font-size: 20px;
  }

  .blog_article .heading {
    font-size: 28px;
    margin: 40px 0 20px 0;
  }
}
